<br>
<br>

    <div class="column-main">
        <h1 class="mod-h1"><span>はじめての方へ</span></h1>

		<section class="mod-layout-image">
			<p class="image-wide image--50 mod-image-left"><img src= alt=""></p>
			<div class="body">
				<h1 class="title_top"><center>Plat de Mamanってなに？<br></center></h1>
				
			</div>
		</section>

        <section class="Point_back pb20">
           <p class="image mod-image-center sp-hide"><img src="/start/img/02_point01_top.png" alt=""></p>
		<section class="mod-layout-image">
			<div class="mod-3up-fixed mod-multi-image sp-hide">
				<div class="col">
				  <h1 class="col_top"><center>どんなLessonがあるの？<br></center></h1>
					<p class="image ml20"><img src= alt=""></p>
					<p class="Menu_heading mt10" align="center">家庭料理</p>
					<p class="Menu_text">お家で簡単に作れる家庭料理をたくさん学べる！</p>
				</div>
				<div class="col">
					<p class="image ml20"><img src="/start/img/02_point01_bread.png" alt=""></p>
					<p class="Menu_heading mt10" align="center">本格的な料理</p>
					<p class="Menu_text"></p>
				</div>
				<div class="col">
					<p class="image ml20"><img src="/start/img/02_point01_cake.png" alt=""></p>
					<p class="Menu_heading mt10" align="center">お菓子</p>
					<p class="Menu_text"></p>
				</div>
			</div>

			<div class="mod-3up-fixed mod-multi-image sp-hide">
				<div class="col">
					<p class="image ml20"><a href="/course/cooking/"><img src="/start/img/02_point01_cooking_btn.png" alt=""></a></p>
				</div>
				<div class="col">
					<p class="image ml20"><a href="/course/bread/"><img src="/start/img/02_point01_bread_btn.png" alt=""></a></p>
				</div>
				<div class="col">
					<p class="image ml20"><a href="/course/cake/"><img src="/start/img/02_point01_cake_btn.png" alt=""></a></p>
				</div>
			</div>

